<!DOCTYPE html>
<html>
<head>
  <title>KeywordMonk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="header">
		<%= render :partial => "shared/header" %>
	</div>

	<div class="container container-fluid">
		<%= yield %>
	</div>	

	<%= yield :page_javascript %>
	
	<div id="footer" class="footer">
		<div class="container">
			<p> A product of Idyllic Software Pvt Ltd. </p>
			<ul class="footer-links">
				<li><a href="http://idyllic-software.com"> Idyllic Software </a>
				<li><a href="http://blog.idyllic-software.com/blog"> Blog </a>
			</ul>
		</div>
	</div>
</body>
</html>
