{% extends "base.html" %}

{% block header_extra %}
<h3 id="masthead-lead">Privacy Policy</h3>  
<div id="masthead-copy" class="policy m3">
<p>Below is our privacy policy which incorporates these goals:</p>
<p>If you have questions about deleting or correcting your personal data please contact our <a href="mailto:support@idyllic-software.com">support team</a>.</p>
<p>BitGopher Inc. (“<strong>BitGopher</strong>”) operates several websites including <a href="http://www.BitGopher.com/">BitGopher.com</a>. It is BitGopher’s policy to respect your privacy regarding any information we may collect while operating our websites.</p>
<br/>
<h3>Website Visitors</h3>
<p>Like most website operators, BitGopher collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. BitGopher&#8217;s purpose in collecting non-personally identifying information is to better understand how BitGopher&#8217;s visitors use its website. From time to time, BitGopher may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
<p>BitGopher also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on WordPress.com blogs. BitGopher only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below, except that blog commenter IP addresses are visible and disclosed to the administrators of the blog where the comment was left.</p>
<br/>
<h3>Gathering of Personally-Identifying Information</h3>
<p>Certain visitors to BitGopher’s websites choose to interact with BitGopher in ways that require BitGopher to gather personally-identifying information. The amount and type of information that BitGopher gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at <a href="http://www.wordpress.com/">WordPress.com</a> to provide a username and email address. Those who engage in transactions with BitGopher – by purchasing access to the Akismet comment spam prevention service, for example – are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, BitGopher collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with BitGopher. BitGopher does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
<br/>
<h3>Aggregated Statistics</h3>
<p>BitGopher may collect statistics about the behavior of visitors to its websites. For instance, BitGopher may monitor the most popular blogs on the WordPress.com site or use spam screened by the Akismet service to help identify spam. BitGopher may display this information publicly or provide it to others. However, BitGopher does not disclose personally-identifying information other than as described below.</p>
<br/>
<h3>Protection of Certain Personally-Identifying Information</h3>
<p>BitGopher discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on BitGopher’s behalf or to provide services available at BitGopher’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using BitGopher’s websites, you consent to the transfer of such information to them. BitGopher will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, BitGopher discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when BitGopher believes in good faith that disclosure is reasonably necessary to protect the property or rights of BitGopher, third parties or the public at large. If you are a registered user of an BitGopher website and have supplied your email address, BitGopher may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with BitGopher and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. BitGopher takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>

<div class="m4"><a href="mailto:privacy@idyllic-software.com" class="mail-1">privacy@idyllic-software.com</a></div>        
</div>
{% endblock %}