{% extends "base.html" %}
{% block header_extra %}
<h3 id="masthead-lead">Terms of Use</h3>
<div id="masthead-copy" class="policy">
	<p><strong>PLEASE READ THE FOLLOWING TERMS OF USE AND DISCLAIMERS CAREFULLY BEFORE USING THIS WEB SITE</strong> (this "Site"). By accessing or using this Site, you agree to these terms of use, conditions and all applicable laws. If you do not agree to these terms you may not use this Site.</p>

	<h3 class="content-title sIFR_" id="terms">Modification Of These Terms Of Use</h3>
	<p>P&amp;G reserves the right to change the terms, conditions, and notices under which
	the P&amp;G Web Sites are offered, including but not limited to the charges
	associated with the use of the P&amp;G Web Sites. You are responsible for
	regularly reviewing these terms and conditions.</p>

	<h3 class="content-title sIFR_" id="use">Use Of Site. Personal And Non-Commercial Use Limitation.</h3>
	<p>Unless otherwise specified, the P&amp;G Web Sites are for your personal and noncommercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the P&amp;G Web Sites.</p>
	<p>You may display and, subject to any expressly stated restrictions or limitations relating to specific material, electronically copy, download and print hard copy portions of the material from the different areas of the Site solely for your own noncommercial use, or to place an order with P&amp;G or to purchase P&amp;G products. Any other use of materials on this Site, including but not limited to the modification, reproduction, distribution, republication, display or transmission of the content of this Site, without prior written permission of P&amp;G is strictly prohibited.</p>
	<p>Harassment in any manner or form on the Site or any of the P&amp;G Websites, including via e-mail and chat or by obscene or abusive language is strictly forbidden. Impersonation of others, including a P&amp;G employee, host, or representative or other members or visitors on the Site is prohibited. You may not upload to, distribute, or otherwise publish through the Site any content which is libelous, defamatory, obscene, threatening, invasive of privacy or publicity rights, abusive, illegal, or otherwise objectionable, or which may constitute or encourage a criminal offense, violate the rights of any party or otherwise give rise to liability or violate any law. You may not upload commercial content on the Site or use the Site to solicit others to join or become members of any other commercial online service or other organization.</p> 
		
	<h3 class="content-title sIFR_" id="copyrights">Copyrights And Trademarks.</h3>
	<p>The entire content included in this Site, including but not limited to text, design, graphics, interfaces, or code and the selection and arrangements thereof is copyrighted as a collective work under the United States and other copyright laws, and is the property of P&amp;G. The collective work includes works that are licensed to P&amp;G. Copyright 2000, 2001. ALL RIGHTS RESERVED. All trademarks, service marks, and trade names (collectively the "Marks") are trademarks or registered trademarks of and are proprietary to Procter &amp; Gamble, or other respective owners that have granted P&amp;G the right and license to use such Marks.</p>

</div>  
{% endblock %}  