<style>
.jumbotron{
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031;
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
	background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
	background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
	background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
	background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);	
}

.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

.marketing {
	text-align: center;
	color: #5a5a5a;
}

.marketing h1{	
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

.marketing .marketing-byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	color: #999;
}


</style>

<% content_for :pre_head do %>
<div class="jumbotron masthead">
  <div class="container">
    <h1>Keyword Monk</h1>
    <p>Learn how your competitors target clients.</p>    
  </div>
</div>
<% end %>


<div class="marketing">
    <h1 class='marketing-title'>Launching soon</h1>    
    <%= form_tag "/business/invites", :class => "business-invites-form" do %>    
    <div class='errors'>    	
    </div>
    <p>    	
    	<%= email_field_tag :email, "", :class => "span4", :placeholder => "johndoe@example.com" %>    	
    </p>
    <p>
    	<%= submit_tag "Get Notified", :class => 'btn btn-large btn-primary' %>
    </p>
    <% end %>      
 </div>