<%= form_for @user, :as => :user, :url => api_v1_users_url, :method => :post,  :html => {:class => 'form-horizontal'} do |f| %>
  <%= render :partial => "error_messages", :locals => {:user => @user} %>  
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">      
      <%= f.text_field :email, :placeholder => "Email" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">      
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>  
  </div>
  <div class="control-group">
    <div class="controls">    
      <button type="submit" class="btn">Register</button>
    </div>
  </div>
<% end %>