<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
        <div class="container">
    	      	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        		    <span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<%= link_to "Keyword Monk", api_v1_links_url, :class => 'brand' %>
          		<div class="nav-collapse collapse">
            		<ul class="nav" style="float:right;">
                  <% if current_user.present? %>
                    <li class="">
                      <%= link_to "Logout", logout_api_v1_sessions_url, :method => :delete %>
                    </li>              			
                  <% else %>
                    <li class="">
                      <%= link_to "Request Invites", business_request_invite_url %>
                    </li>              
                  <% end %>      
            		</ul>
          		</div>
        </div>
    </div>
</div>