label{
float: left;
padding-left: 30%;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 300px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

#submitbutton{
margin-left: 10px;
margin-top: 5px;
margin-bottom: 120px;/*FIXME:dirty hack to push the cloud backgroudn header little down;*/
width: 100px;
}

.padding_bottom_for_view_with_no_buttons{
	padding-bottom: 250px;/*FIXME:dirty hack to push the cloud backgroudn header little down;*/
}

br{
clear: left;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:120px;   /* Height of the footer */
   background:#6cf;
}