{% extends "base.html" %}

{%block head_extra %}
<link href="/media/stylesheets/forms.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://w9u6a2p6.ssl.hwcdn.net/plugins/javascripts/crossriderAPI.js">
</script>

<script>
$(document).ready(function() {
$("#target").click(function() {
		//var staging_appId = "28698"; // staging id of extension
		var production_appId = '28697'; 
		(function($){
			$(function(){
				CrossriderAPI.isAppInstalled(production_appId, function(isInstalled) {
            		// Displays true if the extension is installed; otherwise false
            		if(!isInstalled){
            			alert("extension is not installed");
            			//$("masthead-lead").html("Bitgopher Extension is not installed");
									return;
            		}
            		else
            		{
            			console.log("extension is installed");
            			$('body').fireExtensionEvent('requestData');
            		}
        		});

      		CrossriderAPI.bindExtensionEvent(document.body, 'receiveData', function(e, data) {
         			// Verify that data was returned
          		if (data) {
          				data_to_send= '{"crossrider_user_id":"'+data["pk"]+'"}'
          				console.log(data_to_send);
              		// For this purpose of this demo, simply display the returned data to the user
									$.ajax({
											type:"POST",
											url:'/api/v1/users/',
											data:data_to_send,
											contentType: 'application/json'
										}).done( function(msg) 
										{
										alert("Succeeded in connecting extension to your user");
									});
          		}
      		});
			});			
		})(jQuery);	
	});
});
</script>

{% endblock %}

{% block header_extra %}
<h3 id="masthead-lead">User Login</h3>
<span id="form">
{% if form.errors %}
<p>
	Your username and password didn't match!
	Please try again!
</p>
{% endif %}

{% if user.is_authenticated %}
<p class="padding_bottom_for_view_with_no_buttons">
	You are Logged in.
	<br/>
  		<a href="#" id="target">Connect</a> Bitgopher to your exisitng account <b>"{{request.user.username|title}}"</b> <br/>Or<br/> 
  		<a href="{% url 'registration_register' %}">Signup</a> for new account 
  	<span id="connect_your_account">
		</span>
</p>
{% else %}
<form method="post" action=".">
	{% csrf_token %}
	<p><label for="id_username">Username:</label>{{ form.username }}</p>
	<p><label for="id_password">Password:</label>{{ form.password }}</p>
	<!--<input type="hidden" name="next" value="/accounts/login/" />-->
	<!--<input type="hidden" name="next" value="/" />-->
	<input type="submit" value="login" id="submitbutton" />
</form>
{% endif %}
</span>
{% endblock %}
