{% extends "base.html" %}
{% block header_extra %}
<h3 id="masthead-lead">
Thanks you !! you have been logged out and We have stopped collecting data . If you want us to log back in go 
</h3>
<br/>
<!--<div id="masthead-copy" class="policy m3">-->
<a href="{% url 'frontend_login' %}" >
	Login
</a>
<!--<div>-->
{% endblock %}