{% extends "base.html" %}
{% block head_extra %}
<script type="text/javascript" src="https://w9u6a2p6.ssl.hwcdn.net/javascripts/installer/installer.js"></script>

<script type="text/javascript">
$( document ).ready(function() {
  var isChrome = window.chrome;
  if(isChrome) {
     // is chrome 
    $("#chrome-download").css('display','block');
  } 
  else { 
     // not chrome 
    $("#chrome-download").css('display','none');
    var __CRI = new crossriderInstaller({
      app_id:28697,
      app_name:'Bitgopher'
    , chromeWebStoreRel:'hgchekgpipelcfgohafjfoenbfjadokj'
    });

    var _cr_button = new __CRI.button({
      text:'Download Bitgopher!',
      button_size:'big',
      color:'red'
    });
  }
});

</script>

{% endblock %}

{% block header_extra %}
<h1 id='masthead-lead'>Sell your daily browsing habits safely & securely.</h1>
<p id='masthead-copy'>Your browsing data is being collected and traded every single day. Bit Gopher allows you to collect your revenue share on that information without compromising your privacy.</p>
<!-- its sort of hack for now , because crossrider chrome download buttonw as just not working-->
<div id="chrome-download">
  <a href='https://chrome.google.com/webstore/detail/bitgopher/hgchekgpipelcfgohafjfoenbfjadokj' id='masthead-download_button'>
    <span id='masthead-download_button-primary'>Download Plugin</span>
    <br>
    <span id='masthead-download_button-secondary'>it's completely free!</span>
  </a>
</div>
<div id="crossriderInstallButton"></div>
<div id='masthead-requires'>
  <img src='/media/images/requires.png'>
  <span>Requires Firefox 18 or later.</span>
</div>
<div id='masthead-counter_container'>
  <h3>
    <span>We've gathered </span>
    <span id='masthead-counter_container-counter'>${{worth}}</span>
    <span>worth of data so far!</span>
  </h3>
</div>
{% endblock %}  

{% block body_extra %}
<section id='how_does_it_work'>
<h3 id='how_does_it_work-title'>How Does It Work?</h3>
<ul id='how_does_it_work-list'>
  <li class='how_does_it_work-list-list_item'>
    <figure class='how_does_it_work-list-list_item-image'>
      <img src='/media/images/download.png'>
    </figure>
    <h3 class='how_does_it_work-list-list_item-title'>Download</h3>
    <p class='how_does_it_work-list-list_item-copy'>
      Download & install the plugin
      <a href='index.html#'>here.</a>
      Once running, it will collect your internet browsing patterns in the background.
    </p>
  </li>
  <li class='how_does_it_work-list-list_item'>
    <figure class='how_does_it_work-list-list_item-image'>
      <img src='/media/images/organization.png'>
    </figure>
    <h3 class='how_does_it_work-list-list_item-title'>Organization</h3>
    <p class='how_does_it_work-list-list_item-copy'>We slice and dice the information, segment it, mix it up with millions of other people’s browsing data and make sense of it.</p>
  </li>
  <li class='how_does_it_work-list-list_item'>
    <figure class='how_does_it_work-list-list_item-image'>
      <img src='/media/images/profit.png'>
    </figure>
    <h3 class='how_does_it_work-list-list_item-title'>Profit!</h3>
    <p class='how_does_it_work-list-list_item-copy'>This information is bought by corporates of all sizes, and you get paid a commission for providing that piece of information.</p>
  </li>
</ul>
</section>
<hr>
<section id='faq_and_privacy'>
<section id='faq_and_privacy-faq'>
  <h3 class='faq_and_privacy-title'>Frequently Asked Questions</h3>
  <dl class='accordion' id='faq_list'>
    <dt class='faq_list-question'>When do I start making money?</dt>
    <dd class='faq_list-answer'>No later than three months from the time you start collecting the information.</dd>
    <dt class='faq_list-question'>How much money can I earn?</dt>
    <dd class='faq_list-answer'>Take your chances. Besides, you have got nothing to lose.</dd>
    <dt class='faq_list-question'>How can I increase my earnings?</dt>
    <dd class='faq_list-answer'>The only way to increase your earnings is to not try to do so. You want to use the internet in your natural way and that is the best way to generate most interesting patterns of information that the companies will buy. If you try to just keep surfing around, you will generate junk that no one buys.</dd>
    <dt class='faq_list-question'>Is this real?</dt>
    <dd class='faq_list-answer'>Of course it is. Your information is collected and sold anyway. You are not getting paid for it. We feel it is only fair to share the revenue with you. So download the plugin and let us help you make some money.</dd>
    <dt class='faq_list-question'>Why download early?</dt>
    <dd class='faq_list-answer'>The sooner you register, more information you can provide. The more you share the more you get.</dd>
    <dt class='faq_list-question'>How do I get my money?</dt>
    <dd class='faq_list-answer'>We’ll wire it to your bank. The minimum wire amount is $100. The wire transfer fee will be deducted from your earnings.</dd>
  </dl>
  <span id='faq-get_in_touch'>
    Have another question?
    <a href='mailto:support@idyllic-software.com'>Get in touch</a>
    for support!
  </span>
</section>
<section id='faq_and_privacy-privacy'>
  <h3 class='faq_and_privacy-title'>Your Privacy Is Paramount</h3>
  <ul id='privacy_list'>
    <li class='privacy_list-item'>
      <span class='privacy_list-item-title'>Promise 1</span>
      <span class='privacy_list-item-copy'>We’ll not collect any personal data.</span>
    </li>
    <li class='privacy_list-item'>
      <span class='privacy_list-item-title'>Promise 2</span>
      <span class='privacy_list-item-copy'>We’ll not collect any credit card or password information.</span>
    </li>
    <li class='privacy_list-item'>
      <span class='privacy_list-item-title'>Promise 3</span>
      <span class='privacy_list-item-copy'>We’ll never spam you.</span>
    </li>
    <li class='privacy_list-item'>
      <span class='privacy_list-item-title'>Promise 4</span>
      <span class='privacy_list-item-copy'>We’ll let you know before we sell.</span>
    </li>
    <li class='privacy_list-item'>
      <span class='privacy_list-item-title'>Promise 5</span>
      <span class='privacy_list-item-copy'>Corporates won’t know anything about you.</span>
    </li>
    <li class='privacy_list-item'>
      <span class='privacy_list-item-title'>Promise 6</span>
      <span class='privacy_list-item-copy'>We’ll guard your privacy with our lives.</span>
    </li>
    <li id='privacy_list-signed'></li>
  </ul>
</section>
</section>
<hr>
<section id='bottom_cta'>
<section id='bottom_cta-left'>
  <h3 id='bottom_cta-title'>Get started with Bit Gopher</h3>
  <p id='bottom_cta-copy'>Download the plugin and install to your browser. We take care of all the rest!</p>
</section>
<section id='bottom_cta-right'>
  <a href='http://crossrider.com/download/28698/' id='bottom_cta-button'>
    <span>Download Plugin</span>
  </a>
</section>
</section>

{% endblock%}