{% extends "base.html" %}

{% block head_extra %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://w9u6a2p6.ssl.hwcdn.net/plugins/javascripts/crossriderAPI.js"></script>
<link href="/media/stylesheets/forms.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript">
		//var staging_appId = "28698"; // staging id of extension
		var production_appId = '28697'; // production id of extension
		//var delay = 5000; // delay before we take user to signup page
		(function($){
			$(function(){
				//var extId = "28698";
				//var redirectURL = "/accounts/register/?appId=" + extId;

				CrossriderAPI.isAppInstalled(production_appId, function(isInstalled) {
            		// Displays true if the extension is installed; otherwise false
            		if(!isInstalled){
            			console.log("not installed");
            			$('#masthead-lead').removeClass('blink');
									$('#masthead-lead').html('Please <a href="http:\//crossrider.com/download/' + production_appId + '">reinstall</a> 	extension or If you beilief this message is wrong, try <a href="/verify/">refreshing</a> page again.');
									return;
            		}
            		else
            		{
            			console.log("installed");
            			//in case first one is lost i made it to fire at intervals
            			setInterval(function () {$('body').fireExtensionEvent('requestData');}, 3000); 
            			//$('body').fireExtensionEvent('requestData');
            		}
        		});



        		CrossriderAPI.bindExtensionEvent(document.body, 'receiveData', function(e, data) {
        				console.log("receiveData");
           			// Verify that data was returned
            		if (data) {
                		// For this purpose of this demo, simply display the returned data to the user
                		window.location.href = '{% url "frontend_after_verify"%}?crossrider_user_id=' + data["pk"];
            		}
        		});
			});			
		})(jQuery);	

		// Function to make text blink ("text-decoration: blink" is not supported by all browsers)
		function blink(elem) {
			if ($(elem).hasClass('blink'))
				$(elem).fadeToggle('slow', function(){blink(elem);});
			else
				$(elem).fadeIn('slow');
		}
	</script>
{% endblock %}
{% block header_extra %}
<section id='how_does_it_work'>
	<h3 id='masthead-lead' class="padding_bottom_for_view_with_no_buttons">Checking......</h3>
	<span id='normal-text'></span>
</section>
{% endblock%}

