<html>
<head>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='shashank singh' name='author'>
    <meta content='' name='description'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Bitgopher</title>
    <link href="/media/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/media/stylesheets/all.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/media/javascripts/all_2.js" type="text/javascript"></script>
    <script type="text/javascript" src="//use.typekit.net/bmy8lmd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
        try{Typekit.load();}catch(e){}
    </script>
    {% load staticfiles %}
    {% block head_extra %}{% endblock %}
</head>

<body id='home_page'>

    <header id='masthead'>
        {% include "header.html" %}
        {% block header_extra %}{% endblock %}
    </header>

    {% block body_extra %}{% endblock %}

    <footer id='footer'>
        {% include "footer.html" %}
    </footer>
</body>

</html>
