<nav id='footer-nav'>
  <a href='index.html#' id='footer-nav-logo'>
    <img src='/media/images/bitgopher_logo-footer.png'>
  </a>
  <span id='footer-nav-copyright'>&copy; Copyright 2013, Idyllic Software. All Rights Reserved.</span>
  <ul id='footer-nav-list'>
    <li class='footer-nav-list-item'>
      <a href="{% url 'frontend_terms' %}">Terms</a>
    </li>
    <li class='footer-nav-list-item'>
      <a href="{% url 'frontend_privacy_policy' %}">Privacy Policy</a>
    </li>
    <li class='footer-nav-list-item'>
      <a href="{% url 'frontend_contact' %}">Contact</a>
    </li>
  </ul>
</nav>