<nav id='top_nav'>
  <a href='/' id='top_nav-logo'>
    <img src='/media/images/bitgopher_logo.png'>
  </a>
  <ul id='top_nav-links'>
    <li>
      <a href='/#how_does_it_work' id='how_link'>How It Works</a>
    </li>
    <li>
      <a href='/#faq_and_privacy' id='faq_link'>FAQ's</a>
    </li>
    <li>
      <a href="/#faq_and_privacy" id='privacy_link'>Privacy</a>
    </li>
    <li>
      <a href="mailto:support@idyllic-software.com">Contact</a>
    </li>
  </ul>
</nav>
