<h1> Links </h1>

<table class="table table-bordered">
	<thead>
		<th> Id </th>
		<th> Search Keywords </th>
		<th> URL </th>
		<!--<th> Domain </th>
		<th> Path </th>-->
		<!--<th> Query String </th>		
		<th> Port </th>-->
		<th> Referrer </th>
		<!--<th> Referrer QueryString </th>-->
		<!--<th> Full Url </th>-->
	</thead>
	<tbody>
		<% @links.each do |link| %>		
		<tr>
			<td><%= link.id %></td>
			<td><%= link.keywords.collect(&:words).join(", ") %></td>
			<td><%= link.url %></td>
			<!--<td><%= link.domain %></td>
			<td><%= link.path %></td>-->
			<!--<td><%= link.query_string %></td>			
			<td><%= link.port %></td>-->
			<td><%= link.referrer %></td>
			<!--<td><%= link.referrer_querystring %></td>-->
			<!--<td><%= link.full_url %></td>-->
		</tr>
		<% end %>
	</tbody>
</table>
