<div class="page-header">
  <h1> Signup <small> Start earning with the keyword monk plugin </small>
</div>
<%= form_for @user, :as => :user, :url => api_v1_users_url, :method => :post,  :html => {:class => 'form-horizontal'} do |f| %>
  <%= render :partial => "error_messages", :locals => {:user => @user} %>

  <%= hidden_field_tag :plugin_key, (@pk || params[:pk]) %>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Name</label>
    <div class="controls">      
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">      
      <%= f.text_field :email, :placeholder => "Email" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">      
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password Confirmation</label>
    <div class="controls">      
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">    
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
<% end %>

