<header class="jumbotron subhead">
	<div class="container">
		<h1> Verify plugin installation </h1>
		<p class="lead"> Please wait while we verify your installation </p>
	</div>
</header>

<% content_for :page_javascript do %>
	<script type="text/javascript" src="https://w9u6a2p6.ssl.hwcdn.net/plugins/javascripts/crossriderAPI.js"></script>
	<script type="text/javascript">
		(function($){
			$(function(){
				var extId = "28697";
				var redirectURL = '<%= "#{DOMAIN}/api/v1/users/register?ak=" %>' + extId;

				CrossriderAPI.isAppInstalled(extId, function(isInstalled) {
            		// Displays true if the extension is installed; otherwise false
            		if(!isInstalled){
            			//alert(isInstalled);
            			$('body').fireExtensionEvent('requestData');
            		}
        		});	


        		CrossriderAPI.bindExtensionEvent(document.body, 'receiveData', function(e, data) {
           			// Verify that data was returned
            		if (data) {
                		// For this purpose of this demo, simply display the returned data to the user
                		window.location.href = redirectURL + "&pk=" + data.pk + "&ev=" + data.env;
            		}
        		});
			});			
		})(jQuery);	
		  
	</script>
<% end %>